 .headerbgcolor{
    background-color:#1d3a42;
 } 

.footerbgcolor{
    background-color:#385259;

}
.Socialmediacolor{
    background-color:  #c8a067;
 }
.textcolor{ 
    background-color: #292f36;
}
.ourlocation{
    background-color:#1d3a42e5;

}
.whitetext{
    color: aliceblue;
}

  
